
@{
    ViewData["Title"] = "Confirmation";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="heading-large">
                ILR data submitted
            </h1>

            <p class="font-medium" id="progress-update">
                Your ILR submission for R12 is being processed. Your data will take about 30 minutes to complete.
            </p>
        </div>

        <div class="column-two-thirds">
            <h2 class="heading-medium">What happens next?</h2>
            <p>You will be able to <a href="ilr-submission-details?ilr-submission-status=processing">view details about this submission</a> once the data has been processed, including:</p>
            <ul class="list list-bullet">
                <li>calculated funding amounts</li>
                <li>details about issues that might affect your funding</li>
                <li>a detailed breakdown of learner funding in your organisation</li>
            </ul>
            <p>An email will be sent to <span class="bold">youremail@email.com</span> when your file has been processed.</p>
        </div>
    </div>
</div>


