@{
    ViewBag.Title = "Home";
    ViewBag.PageId = "home-page";
    ViewBag.HideNavBar = true;
}

<div class="grid-row" bold>
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Claim your ESFA funding
        </h1>
			
        <p>
            A sentence or two in this area here describing what this service allows the user to do.
        </p>

        <ul class="list list-bullet">
            <li>Individualised Learner Records (ILR)</li>
            <li>Earnings adjustment statements (EAS)</li>
            <li>Adult Learner Loans</li>
            <li>Funding Claims</li>
            <li>ESF Supplementary Data</li>
        </ul>

        <h2 class="heading-medium">If you're claiming funding for the first time</h2>

        <p>You need to have an account with the government’s Information Management Services system (IdAMS) to use this.</p>
        <p>If your organisation doesn't already have an IdAMS account, you’ll get your account details when you <a href="https://www.gov.uk/guidance/register-of-apprenticeship-training-providers" target="_blank" rel="external">register as an apprenticeship training provider</a>.</p>

        <h2 class="heading-medium">Sign in to claim your funding</h2>

        <p>You’ll need to sign in with your learning provider account.</p>
        <p>
            <a href="/IlrSubmission" class="button button-start" id="signin" >Sign in</a>
        </p>


        <h2 class="heading-medium">Other resources</h2>

        <ul class="list list-bullet">
            <li>
                <a href="https://govuk-elements.herokuapp.com/snippets/">
                    Guide to GOV.UK Elements
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/service-manual">
                    Service design manual
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/design-principles">
                    Government Digital Service Design Principles
                </a>
            </li>
        </ul>

    </div>
</div>
