@{
    ViewBag.Title = "Submit learner data";
    ViewBag.PageId = "home-page";
    ViewBag.HideNavBar = true;
}


@section RelatedContent
    {
    <h2 class="govuk-heading-m" id="subsection-title">
        Related content
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
            <li>
                <a href="https://www.gov.uk/guidance/how-to-become-an-approved-training-provider-and-bid-for-funding" target="_blank">
                    How to become an approved training provider
                </a>
            </li>
            <li>
                <a href="#">
                    Timetable of submission deadlines
                </a>
            </li>
        </ul>
    </nav>
}



    <h1 class="govuk-heading-xl">
        Submit learner data
    </h1>

    <p class="govuk-body-l">This service is for training providers that receive funding directly from the Education and Skills Funding Agency.</p>

    <p>Use this service to validate and submit:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Individualised learner records (ILR)</li>
        <li>Earnings adjustment statements (EAS)</li>
        <li>ESF (European Social Fund) supplementary data</li>
    </ul>

    <p>
        You can also view and download reports for data you’ve submitted.
    </p>

    <a href="/submission-options" class="govuk-button govuk-button--start" id="signin">Sign in</a>

    <h2 class="govuk-heading-m">Before you start</h2>
    <p>You will need:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>your IdAMS (Information Management Services system) login details</li>
        <li>an XML or Zip file to upload - for ILR data</li>
        <li>a CSV file to upload - for ESF data</li>
    </ul>
