@using ESFA.DC.Jobs.Model.Enums
@using ESFA.DC.JobStatus.Interface
@model ESFA.DC.Web.Ui.ViewModels.SubmissionResultViewModel

@{
    ViewData["Title"] = "Individualised Learner Record (ILR) submissions";
}

<h1 class="govuk-heading-xl">Reports</h1>


  
    <p>If you need to correct the data you've submitted, <a href="/submission-options">submit another file</a>.</p>

    @if (Model.SubmissonHistoryViewModels.Any())
    {
        @await Html.PartialAsync("_submissionHistory", Model.SubmissonHistoryViewModels)
    }


