@using DC.Web.Ui.Extensions
@using ESFA.DC.Jobs.Model.Enums
@using ESFA.DC.JobStatus.Interface

@{
    ViewData["Title"] = "Individualised Learner Record (ILR) submissions";
}

<h1 class="govuk-heading-xl">Reports</h1>

<p>If you need to correct the data you've submitted, <a href="/submission-options">submit another file</a>.</p>

@await Component.InvokeAsync("History", new {ukprn = User.Ukprn()})