
@{
    ViewData["Title"] = "Index";
}


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            Your data is being checked
        </h1>
        <p>Wait...........</p>

    </div>
</div>

