
@{
    ViewData["Title"] = "In progress";
}


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            Your data is being checked
        </h1>
        <img src="~/assets/images/loading-spinner.gif" width="40px" alt="loading" />

    </div>
</div>

