
@{
    ViewData["Title"] = "Index";
}


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            Your data is being checked
        </h1>
        <img src="~/assets/images/loading-spinner.gif" />

    </div>
</div>

