
@{
    ViewData["Title"] = " Your file’s uploading";
}


<h1 class="govuk-heading-xl">
    Your file’s uploading
</h1>
    <img src="~/assets/images/loading-spinner.gif" width="80px" alt="loading" />

