
@{
    ViewData["Title"] = "In progress";
}


<h1 class="govuk-heading-xl">
        Your data is being checked
</h1>
    <img src="~/assets/images/loading-spinner.gif" width="80px" alt="loading" />

