@using DC.Web.Ui.Extensions
@model ESFA.DC.Web.Ui.ViewModels.SubmissionResultViewModel

@{
    string referrer = Context.Request.Headers?["Referer"];
    var isHelpDesk = referrer.ToLowerInvariant().Contains("helpdesk");
}


<div class="govuk-tabs" data-module="tabs">
    <h2 class="govuk-tabs__title">
        Submission and reports history
    </h2>

    <ul class="govuk-tabs__list" role="tablist">
        <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#submissions" id="tab_submissions" role="tab" aria-controls="submissions" tabindex="0" aria-selected="true">
                Submission history
            </a>
        </li>
        <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#reportsSection" id="tab_reports" role="tab" aria-controls="reportsSection" tabindex="1" aria-selected="false">
                Reports history
            </a>
        </li>

    </ul>

    <section class="govuk-tabs__panel" id="submissions" role="tabpanel" aria-labelledby="tab_submissions">
        <h2 class="govuk-heading-l" id="submission">Submission history  <span class="govuk-caption-l">@Model.PeriodName</span></h2>
        @if (!isHelpDesk)
        {
            <p>Each time you submit a new file your reports will be updated. To view your latest reports you should download the reports for your most recent submission.</p>
        }

        <h3 class="govuk-heading-m">Submissions for @Model.CollectionYearStart to @Model.CollectionYearEnd</h3>

        @await Html.PartialAsync("_submissionHistory", Model.CurrentPeriodSubmissions)

        <h3 class="govuk-heading-m">Older submissions</h3>

        @await Html.PartialAsync("_submissionHistory", Model.CurrentPeriodSubmissions)


    </section>
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reportsSection" role="tabpanel" aria-labelledby="reportsSection">
        <h2 class="govuk-heading-l" id="reports">Reports history</h2>
        <p>The reports download includes the last validation report and submission files. You can <a href="https://hub.fasst.org.uk/Pages/default.aspx" target="_blank">view period end reports</a> in the Hub.</p>

        @await Html.PartialAsync("_reportsHistory", Model.ReportHistoryItems)

    </section>

</div>