
@{
    ViewData["Title"] = "Not Authorized";
}


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            Your are not authorised to submit data
        </h1>

   </div>
</div>

