@{
    ViewBag.Title = "User Claims";
    ViewBag.PageId = "home-page";
    int counter = 0;
}


<h1 class="govuk-heading-xl">User Claims</h1>
<div style="width: 100%">
    <table class="govuk-table" >
        <thead class="govuk-table__header">
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var claim in User.Claims)
        {
            counter++;
            <tr>
                <td class="govuk-table__cell" style="width:80%" id=@string.Format("claim-type{0}",counter) >@Html.DisplayFor(model => claim.Type)</td>
                <td class="govuk-table__cell" style="width:20%;" id=@string.Format("claim-value{0}",counter)>@Html.DisplayFor(model => claim.Value)</td>
            </tr>

        }
        </tbody>
    </table>
</div>