@model IEnumerable<DC.Web.Ui.Services.Models.SubmissionOption>


@{
    ViewData["Title"] = "SubmissionOptions";
}

<div class="column-two-thirds">

    <form asp-controller="SubmissionOptions" asp-action="Submit" method="post" id="choiceform">
        <div class="form-group">
            <fieldset>
                <h1 class="heading-large">Choose data you need to submit</h1>

                @foreach (var so in Model)
                {
                    <div class="multiple-choice">

                        <input id="@so.Name" type="radio" name="submissionType" value="@so.Name" required="">
                        <label for="@so.Name">@so.Title</label>
                    </div>
                }
                

            </fieldset>
        </div>

        <input type="submit" value="Start submitting data" class="button">
    </form>
</div>
