@using DC.Web.Authorization
@using DC.Web.Authorization.Data.Constants
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model DC.Web.Ui.ViewModels.InputFileViewModel

@{
    ViewData["Title"] = "Submit Ilr";
    ViewData["secondaryHeading"] = "ILR Submission";
}

        @Html.Partial("_ErrorSummary")

        <form asp-controller="ILRSubmission" asp-action="Index" method="post" enctype="multipart/form-data" id="ilrform">
            <h1 class="govuk-heading-xl">Choose file to upload <span class="govuk-caption-xl">Return Period 12 (R12)</span></h1>
            <p>Before uploading your file you should make sure that:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>it’s in an XML or Zip format</li>
                <li>the data it contains is as complete as possible</li>
                <li>the data it contains is as accurate as possible</li>
            </ul>
            <div class="govuk-form-group" asp-valid="@ViewData.ModelState.IsValid" id ="controls">
                <label class="govuk-label govuk-!-font-weight-bold" asp-for="File">
                    Upload a file
                </label>
                <div><span asp-validation-for="File" class="govuk-error-message"></span></div>
                <input asp-for="File" class="govuk-file-upload" id="file" type="file" accept=".xml,.zip">
            </div>

            <button class="govuk-button">
                Upload file
            </button>
        </form>



   