@using DC.Web.Authorization
@using DC.Web.Authorization.Data.Constants
@{
    ViewData["Title"] = "Submit Ilr";
    ViewData["secondaryHeading"] = "ILR Submission";

}

<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">
            Check learner data for errors
        </h1>
        <div class="error-summary hidden" role="alert" aria-labelledby="error-summary-heading-1" tabindex="-1" id="error">

            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">
                Invalid Filename
            </h2>

            <p>
                The UKPRN in the file name does not match the provider's UKPRN in the Hub
            </p>
            <ul class="error-summary-list">
                <li><a href="#">Click here for help to fix the error</a></li>
            </ul>
        </div>

        <p>
            Use this page to upload and submit an <abbr title="Individual Learner Record">ILR</abbr> file for the current return period.
        </p>

        <p>Make sure:</p>
        <ul class="list list-bullet">
            <li>learner data is entered correctly</li>
            <li>the file is an <abbr title="Extensible Markup Language">XML</abbr> file format or a compressed ZIP file</li>
        </ul>
        <p>You can check your data for errors multiple times.</p>
        <div class="panel panel-border-wide">
            <p>
                Learner records with errors will not be funded. Your funding may not be calculated correctly if we find any errors or warnings in your data.
            </p>
        </div>
        <form asp-controller="ILRSubmission" asp-action="Submit" method="post" enctype="multipart/form-data" id="ilrform">
            <div id="upload-v2">

                <div policy="@FeatureNames.FileSubmission" id="upload-select-area">
                    <label for="upload" class="button" role="button">
                        <span class="">Select a file to check</span>
                    </label>
                    <input accept="text/xml" id="upload" class="choose-file" name="file" aria-controls="progress-container" aria-required="true" type="file" />
                </div>

                <div id="file-details" class="hidden">

                    <div class="info-summary">

                        <h3 class="heading-medium  info-summary-heading">
                            Selected file
                        </h3>
                        <p>
                            <span class="file-name"></span>
                            <br>
                            <a id="change-file" href="#change">Change file</a>
                        </p>
                    </div>

                    <div id="submit-file-area">
                        <input type="hidden" name="ilr-submission-status" value="processed">
                        <input type="hidden" name="file-date" value="">

                        <input policy="@FeatureNames.FileSubmission" type="submit" class="button" name="confirm-upload" id="confirm-upload" value="Check File" />

                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="column-one-third">
        <div class="govuk-related-items">
            <h2 class="heading-small">
                Help and support
            </h2>
            <a href="/support" class="font-xsmall">
                Contact the ESFA service desk
            </a>
        </div>

        <aside class="interruption-card">
            <div class="data">
                <span class="data-item bold-xlarge">15 days</span>
                <p>until the current return period ends</p>
            </div>
            <p><a href="/ilr-submission/dates">See all return dates</a></p>
        </aside>
    </div>
</div>

<!-- Javascript -->
<!--[if lte IE 8]><script src="/public/javascripts/bind.js"></script><![endif]-->
<environment include="Development">

    <script src="~/lib/jquery/dist/jquery.js"></script>
  
</environment>
<environment exclude="Development">

    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
</environment>

<script>
    $(document).ready(function () {
        $('#upload-v2 input#upload').on('change', function (e) {
            // hide the file picker button
            $('#upload-select-area').addClass('hidden');

            // show the file details
            $('#file-details').removeClass('hidden');

            // write the file details to the page
            var fileName = e.target.files[0].name;
            
            $('.file-name').text(fileName);
            
            // revert the page when clicking the change button
            var changeButton = $('#change-file');
            changeButton.on('click', function () {
                // hide the file details
                $('#file-details').addClass('hidden');

                // show the file picker button
                $('#upload-select-area').removeClass('hidden');
            })
        })

        
        

    })
</script>